{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static '/styles/login.css' %}" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static './favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static './favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static './favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static './favicon_io/site.webmanifest' %}">
    <title> Rockwell Trust Bank Login</title>
  </head>
  <body>
    <!-- HERO SECTION -->
    <section class="login-main-container">
        <!-- <div>
            <div class="wave-1"></div>
            <div class="wave-1"></div>
            <div class="wave-1"></div>
          </div> -->
      <div class="login-container">
        <form id="login-form" action="" method="POST">
          {%csrf_token%}
            <p class="logo">Rockwell Trust Bank</p>
        <p class="hero-light-text">Please enter your credentials to log in.</p>

          <div class="input-group">
            <label for="username">Account Number</label>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Enter your Account Number"
              required
            />
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter your password"
              required
            />
            <span class="forgot-password">
              <a href="{% url 'home' %}">
                Forgot your password?
              </a>
            </span>
          </div>
          <!-- <div class="input-group">
            <input type="checkbox" id="remember" name="remember" />
            <label for="remember">Remember me</label>
          </div> -->
          <div class="input-group">
            <button type="submit" id="login-button">Log In</button>
          </div>
        </form>

        <!-- <p class="info-text">
          <span>Don't have an account? </span>
          <a href="./register.html">Sign Up</a>
        </p> -->
      </div>
    </section>

  </body>
  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/6623cba9a0c6737bd12e86b5/1hrtt73of';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
</html>
